*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  width: 100%;
  padding: 20px 60px;
}
header h1{
  font-size: 24px;
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 120px;
  background-color: darkblue;
  padding: 20px;
}
nav li a{
  text-decoration: none;
  color: white;
  font-size: 16px;
}
nav li a:hover{
  text-decoration: underline;
}
main{
  background-image: url(https://cdn.pandaw.com//images/blog/blog_80_header.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.white-background{
  background-color: rgba(0, 0, 0, 0.5);
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 40vw;
  height: 80vh;
  margin: 0 80px;
  line-height: 20px;
  color: white;
}
.text h2{
  font-size: 40px;
}
.text a{
  text-decoration: none;
  color: white;
  border: 1px solid white;
  width: fit-content;
  padding: 20px;
  border-radius: 50px;
  background-color: white;
  color: black;
}
