.heading{
  text-align: center;
  margin-top: 40px;
  scroll-margin-top: 80px;
}
.article-wrapper{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: navy;
}
.food-wrapper, .culture-wrapper{
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 50px;
}
.culture-wrapper{
  background-color: navy;
  color: white;
}
.food-wrapper h2, .culture-wrapper h2{
  font-size: 40px;
}
.food, .culture{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.culture{
  flex-direction: row-reverse;
}
.food img{
  width: 30vw;
  height: 45vh;
  object-fit: cover;
  flex-shrink: 0;
  border: 1px solid navy;
  padding: 5px;
}
.food-article, .culture-article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.food-article a, .culture-article a{
  background-color: darkred;
  color: white;
  padding: 15px 20px;
  width: fit-content;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);

}
.food-article p, .culture-article p{
  line-height: 25px;
  font-size: 18px;
}
.food-article h3, .culture-article h3{
  font-size: 35px;
}
.culture-wrapper video{
  width: 35vw;
  height: 30vh;
  object-fit: cover;
  flex-shrink: 0;
  border: 1px solid white;
  padding: 5px;
}

.culture-wrapper img{
  width: 35vw;
  object-fit: cover;
  flex-shrink: 0;
  border: 1px solid navy;
  padding: 5px;
}

/*Make the image here responsive to the device because it look good on PC but on mobile phone it look small*/
@media screen and (max-width: 600px) {

  .culture-wrapper img{
    width: 80vw;
    object-fit: cover;
    flex-shrink: 0;
    border: 1px solid navy;
    padding: 5px;
  }

}

@media screen and (min-width: 600px) {
  .culture-wrapper img{
    width: 45vw;
    object-fit: cover;
    flex-shrink: 0;
    border: 1px solid navy;
    padding: 2px;
  }
}
