@import url(header.css);
@import url(footer.css);

body{
  background-color: #E8EDF2;
}

.title-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 30px 40px;
  color: #170C79;
}
.title-header{
  font-size: 40px;
}
.title-text{
  max-width: 40vw;
  line-height: 25px;
  border-bottom: 2px solid #170C79;
  padding-bottom: 25px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px 60px;
}
.child{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 50px;
  border-bottom: 3px dashed darkgreen;
  scroll-margin-top: 80px;
}
.child:nth-child(even){
  display: flex;
  flex-direction: row-reverse;
}
.child:last-child{
  border-bottom: none;
}
.child img{
  width: 450px;
  height: 300px;
  object-fit: cover;
  flex-shrink: 0;
  border: 5px double navy;
  border-radius: 40px;
}
.article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  max-width: 55vw;
  color: #2C3947;
}
.article-loca{
  font-size: 12px;
  background-color: #547A95;
  padding: 10px 15px;
  width: fit-content;
  color: rgb(213, 212, 212);
  border-radius: 20px;
}
.article a{
  text-decoration: none;
  color: white;
  background-color: darkred;
  width: fit-content;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.article a:hover{
  background-color: rgb(94, 0, 0);
  color: rgb(158, 158, 158);
}

