@import url(header.css);
@import url(footer.css);

.title-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 30px 40px;
  color: #170C79;
}
.title-header{
  font-size: 40px;
}
.title-text{
  max-width: 40vw;
  line-height: 25px;
  border-bottom: 2px solid #170C79;
  padding-bottom: 25px;
}
.article-wrapper{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                    url(https://cdn.vietnamtourfun.com/photos/HienDuong/blog2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.food-wrapper, .culture-wrapper{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
}
.food, .culture{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.food:hover, .culture:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
.food img{
  width: 35vw;
  height: 30vh;
  object-fit: cover;
  flex-shrink: 0;
}
.food-article, .culture-article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.food-article p, .culture-article p{
  line-height: 30px;
}
.culture-wrapper video{
  width: 35vw;
  height: 30vh;
  object-fit: cover;
  flex-shrink: 0;
}
