@import url(header.css);
@import url(footer.css);

.title-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 30px 40px;
  color: #170C79;
}
.title-header{
  font-size: 40px;
}
.title-text{
  max-width: 40vw;
  line-height: 25px;
  border-bottom: 2px solid #170C79;
  padding-bottom: 25px;
}
.siemreap-food{
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  gap: 30px;
  padding: 30px 50px;
}
.food{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: darkred;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  flex-shrink: 0;
  width: fit-content;
  width: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
.text p:nth-child(2){
  font-size: 10px;
}
.text p:nth-child(3){
  text-align: right;
}
.text p:nth-child(3):hover{
  color: rgb(158, 158, 158);
}
.food img{
  width: 250px;
  height: 150px;
  object-fit: cover;
}
