<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angkor Wat</title>
  <link rel="Stylesheet" href="../assets/css/sub.css">
  <link rel="Icon" href="../assets/image/logo.ico">
</head>

<body>
  <header id="topofpage">
    <h1>Tourism and Travel Guide</h1>
    <a href="#topofpage"><img src="../assets/photos/logo.PNG" alt="logo"></a>
  </header>
  <nav>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="#">Desination</a></li>
      <li><a href="#">Food & Culture</a></li>
      <li><a href="#">Travel Tips</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <footer>
    Copyrigts &copy; 2026, Superman Group
  </footer>
</body>

</html>
