<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="../assets/css/contact.css">
  <link rel="Icon" href="../assets/image/logo.ico">
</head>

<body>
  <header id="topofpage">
    <a href="../index.html"><img src="../assets/image/logo.PNG" alt="logo" /></a>
    <h1>Tourism and Travel Guide</h1>
  </header>
  <nav>
    <ul>
      <li><a href="#topofpage">Home</a></li>
      <li><a href="/">Destination</a></li>
      <li><a href="/">Food & Culture</a></li>
      <li><a href="/">Travel Tips</a></li>
      <li><a href="#topofpage">Contact</a></li>
    </ul>
  </nav>
  <main>
    <h1>Contact Us</h1>
    <p>Have a question about planning your trip, or feedback on this guide? Send us a message using the form below and
      we will
      get back to you.</p>
  </main>
  <div class="card-wrapper">
    <div class="card">
      <div class = "card-title">
        <img src="../assets/image/mail.svg"></img>
        <h2>Email</h2>
      </div>
      <p>derlengwithme@explorecambodia.com</p>
    </div>

    <div class="card">
      <div class = "card-title">
        <img src="../assets/image/office.svg"></img>
        <h2>Office</h2>
      </div>
      <p>D2 Lecturer Hall, American University of Phnom Penh</p>
    </div>
    <div class="card">
      <div class = "card-title">
        <img src="../assets/image/clock.svg"></img>
        <h2>Hours</h2>
      </div>
      <p>Tuesday - Friday, 10:15am - 11:45am</p>
    </div>
  </div>
  <div class="form-wrapper">
    <form action="submit" method="POST">
      <label for="fullname">Full name</label>
      <input type="text" id="fullname" name="fullname" placeholder="full name" required>

      <label for="email">Email Address</label>
      <input type="eamil" id="email" name="email" placeholder="youremail@aupp.edu.kh" required>

      <label for="message">Message</label>
      <textarea name="message" id="message" placeholder="Your message"></textarea>

      <button type="reset" class="reset">Reset</button>
      <button type="submit">Submit</button>
    </form>
  </div>
  <footer>Copyrigts &copy; 2026, DerLeng Site</footer>
</body>

</html>
