<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
  <link rel="stylesheet" href="../assets/css/contact.css">
  <link rel="Icon" href="../assets/image/logo.ico">
</head>

<body>
  <header id="topofpage">
    <h1>Tourism and Travel Guide</h1>
    <a href="../index.html"><img src="../assets/image/logo.PNG" alt="logo" /></a>
  </header>
  <nav>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../Components/destination.html">Desination</a></li>
      <li><a href="../Components/food%20&%20culture.html">Food & Culture</a></li>
      <li><a href="../Components/travel_tips.html">Travel Tips</a></li>
      <li><a href="#topofpage">Contact</a></li>
    </ul>
  </nav>
  <footer>Copyrigts &copy; 2026, Superman Group</footer>
</body>

</html>
